<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
    <meta charset="utf-8" />
    <title>Between birds and flies</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}" />
    <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="mask-icon" color="5bbad5" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css')}}" />

    <meta name="theme-color" content="#ffffff" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
    <script src="../static/js/test.js"></script>
</head>

<body>
    <div class="wrapper">
        <section id="cover">
            <h1>Cover</h1>
        </section>
        <section id="start">
            <h1>Start</h1>
        </section>
        <section id="aline">
            <img id="ilu-aline" src="../static/Austausch Flo/02_inhalt illustrationen/02_story_aline/01_portrait aline FINAL/aline colors.png" />
            <img src="../static/Austausch Flo/02_inhalt illustrationen/02_story_aline/02_cataki app FINAL/cataki.gif" />
            <img class="ilu-fullscreen" id="ilu-flood" src="../static/Austausch Flo/02_inhalt illustrationen/02_story_aline/03_ueberschwemmung FINAL/Wasser animation final.gif" />
            <img src="../static/Austausch Flo/02_inhalt illustrationen/02_story_aline/04_schildkroete FINAL/Schildkroete.gif" />
            <article>
                <div class="ilustration"></div>
                <div class="text">
                    <h1>02 - Aline und die Schildkröte</h1>
                    <p>Ich treffe Aline vor einem McDonalds in São Paulo. Nach einer kurzen Begrüßung setzen wir uns an einen der steinernen Tische vor dem Geschäft. Sie nimmt neben mir Platz. Gegenüber sitzt Marco, er wird für mich Dolmetschen, da ich selbst
                        kein Portugiesisch spreche. Aline hat ihre 15-jährige Tochter dabei.</p>
                    <p>Als Erstes fallen mir bei der Catadora ein kleines Herztattoo unter ihrem rechten Auge und ihre Sommersprossen auf dem runden Gesicht auf. Die dunklen Haare hat sie zu einem lockeren Knoten am Hinterkopf zusammengebunden und ihre braunen
                        Augen mit Kajal umrandet. Sie wirkt etwas schüchtern, unsicher und weicht meinem Blick aus. Ich hole mein Handy aus meiner Tasche und schiebe es zu Marco, damit er mit den Fragen anfangen kann.
                    </p>
                    <p>Ich lausche dem portugiesischem Singsang, von dem ich nur manche Wörter verstehe und bemerke wie bestimmt Aline spricht. Sie erzählt, dass sie erst seit ungefähr einem Jahr als Catadora arbeitet, nebenbei hat sie noch ein eigenes Flip-Flop
                        Geschäft. Die Schuhe, die sie dort verkauft, macht sie selbst. Darum gibt es für sie eigentlich auch kein Wochenende, sie hat immer alle Hände voll zu tun und arbeitet jeden Tag. Auch ihr Mann ist im Recycling tätig, er sammelt
                        Schüttgut und fährt dieses zu den entsprechenden Recyclingfirmen. Ihre Tochter und der 17-jährige Sohn gehen beide noch zur Schule.</p>
                    <p>Freie Tage sind selten. Eigentlich versuchen sie jeden Tag zu arbeiten, um die Familie zu versorgen. Nur so haben sie genügend Einkommen. Am Tag sammelt Aline ungefähr 15-20 Säcke; mal mehr, mal weniger. Zurzeit arbeitet sie auch mit
                        zwei Unternehmen zusammen, welche sie monatlich bezahlen. Pro Monat sind das ungefähr <a href="#" onclick="return false;" title="Ungefähr 55€">R$250</a>, eine sichere und regelmäßige Einnahmequelle. Sie holt dort das getrennte
                        Material ab und bringt es zu einem Recyclingunternehmen. </p>
                </div>
            </article>
    </div>
    </section>
    <section id="infographic1">
        <h1>Info 1</h1>
    </section>
    <section id="cooperlinia">
        <h1>Cooperlinia</h1>
    </section>
    <section id="infographic2">
        <h1>Info 2</h1>
    </section>
    <section id="erica">
        <h1>Erica</h1>
    </section>
    <section id="imprint">
        <h1>Impressum</h1>
    </section>
    </div>
</body>

</html>